body{
    font-family: monospace;
}
h1{
    color: orangered;
}
ul li a{
    color: rgb(47, 0, 255);
}
ol li a{
    color: green;
}
.p1{
    color: blue;
}
.p2{
    color: rgb(255, 0, 0);
}